<section class="bigcard">
    <div class="card">
        <h2 class="heading">Login Form</h2>
        <form [formGroup]="contactForm">
            <div class="div1">
                <label for="ID" class="id">
                    <h3>Patient ID</h3><input type="text" name="idn" id="idn" formControlName="id">
                </label>
            </div>
            <div class="div2">
                <label for="Password" class="psswd">
                    <h3>Password</h3><input type="password" name="" id="pswn" formControlName="psswd">
                </label>
            </div>
            <div class="div3">
                <button type="submit" class="btn" (click)="GetDetails()"><i class="fa fa-paper-plane"></i></button>
            </div>
        </form>
    </div>
</section>